# Elexon Async Client

In [1]:
from elexon_api import AsyncClient as Client
from elexon_api import extract_df

import pandas as pd

### normal query

In [2]:
client = Client.from_key_file()

service_code = "DYNBMDATA"

params  = {
    'SettlementDate': pd.datetime(2019,1,1),
    'SettlementPeriod': 1
}

In [3]:
r = await client.query(service_code, **params)
df = extract_df(r)

In [4]:
df.head()

,recordType,bmUnitID,bMUnitType,leadPartyName,ngcBMUnitName,settlementDate,settlementPeriod,effectiveTime,runUpRate1,runUpElbow2,...,runDownRate3,noticeToDeviateFromZero,noticeToDeliverBids,noticeToDeliverOffers,minimumZeroTime,minimumNonZeroTime,stableExportLimit,stableImportLimit,maximumDeliveryVolume,maximumDeliveryPeriod
0,RURE,2__AANGE001,S,Limejump Energy Limited,AG-ALIM02,2018-09-03,13,2018-09-03 05:25:00,999.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RURE,2__AEENG000,G,E.ON Energy Solutions Limited,EAS-EST01,2017-08-01,25,2017-08-01 11:00:00,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RURE,2__CEENG000,G,E.ON Energy Solutions Limited,LON-EST01,2017-08-01,25,2017-08-01 11:00:00,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RURE,2__DEENG000,G,E.ON Energy Solutions Limited,MNW-EST01,2017-08-01,25,2017-08-01 11:00:00,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RURE,2__DPGEN001,S,E.ON UK plc,MNW-PGU02,2018-12-31,44,2018-12-31 21:38:00,5.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### multiple asynce queries

In [5]:
import asyncio

In [6]:
service_code = 'BOD'
date = pd.datetime(2018,1,1)

In [7]:
task_l = []
for period in range(1, 48 + 1):

    params = {
        'SettlementDate': date,
        'SettlementPeriod': period}

    task_l.append(client.query(service_code, check_query=False, **params))

r = await asyncio.gather(*task_l)

In [8]:
df = pd.concat(map(extract_df, r), axis=0)

In [9]:
df.head()

,recordType,bmUnitID,bMUnitType,leadPartyName,ngcBMUnitName,settlementDate,settlementPeriod,bidOfferPairNumber,timeFrom,bidOfferLevelFrom,timeTo,bidOfferLevelTo,bidPrice,offerPrice,activeFlag
0,BOD,2__ABGAS000,G,British Gas Trading Ltd,EAS-BGS01,2018-01-01,1,1,2018-01-01 00:00:00,0,2018-01-01 00:30:00,0,0.00,0.00,Y
1,BOD,2__ABGAS000,G,British Gas Trading Ltd,EAS-BGS01,2018-01-01,1,-1,2018-01-01 00:00:00,0,2018-01-01 00:30:00,0,0.00,0.00,Y
2,BOD,2__AEDIR000,G,British Gas Trading Ltd,EAS-EDR01,2018-01-01,1,1,2018-01-01 00:00:00,0,2018-01-01 00:30:00,0,0.00,0.00,Y
3,BOD,2__AEDIR000,G,British Gas Trading Ltd,EAS-EDR01,2018-01-01,1,-1,2018-01-01 00:00:00,0,2018-01-01 00:30:00,0,0.00,0.00,Y
4,BOD,2__AEELC000,G,E.ON Energy Solutions Limited,EAS-EAS01,2018-01-01,1,1,2018-01-01 00:00:00,0,2018-01-01 00:30:00,0,0.00,0.00,Y

In [10]:
df.shape

(91407, 15)